<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Inventory</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/wishlist.css">
</head>

<body>
  <section id="open-page" class="container is-justify-content-center">
    <div id="full-page">
            <div id="sidebar">
                {{> sideBar}}
            </div>
      <div class="welcomeinput">
        <div>
          <div>
            <h2 class="mt-2 content is-large">Welcome, {{name}}!</h2>
          </div>
        </div>

        <div id="addbook" class="">
          <div class="">
            <h3 class="content is-medium">📚 Add a book to your wishlist! 📚</h3>
            <form class="add-book-form box">
              <div class="form-group label">
                <label for="choose-book">Choose a book:</label>
                <select id="choose-book" name="choose-book" multiple>
                  <option data-id="1" value="great-gatsby">The Great Gatsby</option>
                  <option value="kill-mockingbird">To Kill a Mockingbird</option>
                  <option value="1984">1984</option>
                  <option value="pride-prejudice">Pride and Prejudice</option>
                  <option value="catcher-rye">The Catcher in the Rye</option>
                  <option value="hobbit">The Hobbit</option>
                  <option value="moby-dick">Moby-Dick</option>
                  <option value="war-peace">War and Peace</option>
                  <option value="lord-rings">The Lord of the Rings: The Fellowship of the Ring</option>
                  <option value="harry-potter">Harry Potter and the Sorcerer's Stone</option>
                  <option value="hunger-games">The Hunger Games</option>
                  <option value="da-vinci-code">The Da Vinci Code</option>
                  <option value="alchemist">The Alchemist</option>
                  <option value="lord-flies">Lord of the Flies</option>
                  <option value="the-road">The Road</option>
                  <option value="brave-new-world">Brave New World</option>
                  <option value="shining">The Shining</option>
                  <option value="hitchhiker-guide-galaxy">The Hitchhiker's Guide to the Galaxy</option>
                </select>
                {{!-- <input class="form-input input is-small" type="text" id="book-name" name="book-name" /> --}}
              </div>
              {{!-- <div class="form-group">
                <label class="label" for="author-name">Author Name:</label>
                <input class="form-input input is-small" type="text" id="author-name" name="author-name" />
              </div> --}}
              <div class="form-group mt-3 columns is-centered">
                <button class="button has-text-info is-outlined" type="submit">Add to wishlist!</button>
              </div>
            </form>
          </div>
        </div>
        {{#if books.length}}
        <div class="wish-list-container">
          <h3 class="mt-3"> 📚 {{name}}'s Wishlist:</h3>
          <div class="wish-list">
            {{#each books as |book|}}
            <div class="bookblocks">
              <div class="">
                <h4><a href="/books/{{book.id}}">{{book.title}}</a></h4>
                <h5>By:<a href="/books/{{book.id}}">{{book.authors}}</a></h5>
              </div>
              <div class="">
                <button class="button has-text-info is-outlined is-small" data-id="{{book.id}}">REMOVE</button>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div id="changepage">
      <a href="" id="prev-page">Previous Page</a> |
      <a href="" id="next-page">Next Page</a>
    </div>
  </section>


  <script src="/js/wishlist.js"></script>
</body>

</html>