<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Inventory</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/wishlist.css">
</head>

<body>
  <section id="open-page" class="container is-justify-content-center">
    <div id="full-page">
      <div id="sidebar">
        {{> sideBar}}
      </div>
      <div class="welcomeinput">
        <div>
          <div>
            <h2 class="mt-2 content is-large">Welcome, {{name}}!</h2>
          </div>
        </div>

        {{#if books.length}}
        <div class="wish-list-container">
          <h3 class="mt-3"> 📚 {{name}}'s Wishlist:</h3>
          <div class="wish-list">
            {{#each books as |book|}}
            <div class="bookblocks">
              <div class="bookblockinterior">
                <img id="bookimg" src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">
                <h4><a href="/books/{{book.id}}">{{book.title}}</a></h4>
                <h5>By:<a href="/books/{{book.id}}">{{book.authors}}</a></h5>
                <div id="removediv">
                  <button class="button has-text-info is-outlined is-small" data-id="{{book.id}}">REMOVE</button>
                </div>
              </div>

            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div id="changepage">
      <a href="" id="prev-page">Previous Page</a> |
      <a href="" id="next-page">Next Page</a>
    </div>
  </section>


  <script src="/js/wishlist.js"></script>
  <script src="/js/logout.js"></script>
</body>

</html>